.user {
	flex: 5;

	.user__title-container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.user__title {
			font-size: 2rem;
			font-weight: 600;
		}
	}

	.user__container {
		display: flex;

		.user__view-pane {
			border-radius: 0.75rem;
			box-shadow: 0 0 1rem -0.75rem rgba(0, 0, 0, 0.75);
			flex: 1;
			margin-right: 0.75rem;
			padding: 1.25rem;

			.user__view-title {
				font-size: 1.5em;
				font-weight: 600;
			}

			.user__view-heading {
				align-items: center;
				display: flex;
				margin-top: 1.25rem;

				.user__view-heading-avatar {
					border-radius: 50%;
					height: 2.5rem;
					margin-right: 1.25rem;
					object-fit: cover;
					width: 2.5rem;
				}

				.user__view-heading-title {
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					.user__view-name {
						font-size: 1.25em;
						font-weight: 600;
					}

					.user__view-designation {
						font-size: 1em;
						font-weight: 300;
					}
				}
			}

			.user__view-details {
				margin-top: 1.25rem;

				.user__view-details-title {
					font-size: 1em;
					font-weight: 600;
				}

				.user__view-details-info {
					align-items: center;
					display: flex;
					margin: 1.25rem 0;

					.user__view-details-icon {
						font-size: 1em;
						margin-right: 0.75rem;
					}

					.user__view-details-text {
						font-size: 1em;
						font-weight: 400;
					}
				}
			}
		}

		.user__update-pane {
			border-radius: 0.75rem;
			box-shadow: 0 0 1rem -0.75rem rgba(0, 0, 0, 0.75);
			flex: 2;
			margin-left: 0.75rem;
			padding: 1.25rem;

			.user__update-title {
				font-size: 1.5em;
				font-weight: 600;
			}

			.user__update-form {
				display: flex;
				justify-content: space-between;
				margin-top: 1.25rem;

				.user__update-details {
					display: flex;
					flex-direction: column;

					.user__update-item {
						display: flex;
						flex-direction: column;
						justify-content: center;
						margin-top: 0.75rem;

						.user__update-label {
							font-size: 1em;
							margin-bottom: 0.25rem;
						}

						.user__update-input {
							background-color: transparent;
							border: none;
							border-bottom: 0.125rem solid gray;
							height: 2rem;
							outline: none;
							padding: 0.25rem;
							width: 16rem;
						}
					}
				}

				.user__update-picture {
					align-items: center;
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					.user__update-file {
						align-items: center;
						display: flex;
						position: relative;

						.user__update-file-avatar {
							border-radius: 50%;
							height: 10rem;
							object-fit: cover;
							width: 10rem;
						}

						.user__update-file-label {
							align-items: flex-end;
							cursor: pointer;
							display: flex;
							justify-content: flex-end;
							position: absolute;
							right: 0;
							bottom: 0;

							.user__update-file-icon {
								height: 1.5rem;
								width: 1.5rem;
							}
						}

						.user__update-file-input {
							display: none;
						}
					}

					.user__update-submit-group {
						align-items: center;
						display: flex;
						justify-content: center;
						margin-top: 1.25rem;

						.user__update-button {
							background-color: #fa7f08;
							border: none;
							border-radius: 0.75rem;
							color: white;
							cursor: pointer;
							margin-right: 0.25rem;
							padding: 0.75rem;
							width: 5rem;
						}

						.user__reset-button {
							background-color: #f24405;
							border: none;
							border-radius: 0.75rem;
							color: white;
							cursor: pointer;
							margin-left: 0.25rem;
							padding: 0.75rem;
							width: 5rem;
						}
					}
				}
			}
		}
	}
}
