.latest-transactions {
	border-radius: 0.75rem;
	box-shadow: 0 0 1rem -0.75rem rgba(0, 0, 0, 0.75);
	flex: 2;
	margin: 0 1.25rem;
	padding: 1.25rem;

	.latest-transactions__title {
		font-size: 1.5em;
		font-weight: 600;
	}
	.latest-transactions__table {
		border-spacing: 1.25rem;
		width: 100%;

		.latest-transactions__table-row {
			.latest-transactions__table-header {
				font-size: 1.25rem;
				text-align: left;
			}

			.latest-transactions__user {
				align-items: center;
				display: flex;

				.latest-transactions__user-img {
					border-radius: 50%;
					height: 2.5rem;
					margin-right: 0.75rem;
					object-fit: cover;
					width: 2.5rem;
				}

				.latest-transactions__user-name {
					font-weight: 600;
				}
			}

			.latest-transactions__date {
				font-weight: 300;
			}

			.latest-transactions__amount {
				font-weight: 300;
			}

			.latest-transactions__status {
				.latest-transactions__button {
					align-items: center;
					border: none;
					border-radius: 0.75rem;
					color: var(--light);
					cursor: pointer;
					display: flex;
					justify-content: center;
					max-width: 6.25rem;
					padding: 0.75rem;
					text-transform: capitalize;
					width: 100%;

					&.approved {
						background-color: var(--success);
					}

					&.pending {
						background-color: var(--warning);
					}

					&.declined {
						background-color: var(--danger);
					}

					.latest-transactions__display-icon {
						height: 1rem;
						margin-right: 0.25rem;
						width: 1rem;
					}
				}
			}
		}
	}
}
