.new-users {
	border-radius: 10px;
	box-shadow: 0 0 1rem -0.75rem rgba(0, 0, 0, 0.75);
	flex: 1;
	margin: 0 1.25rem;
	padding: 1.25rem;

	.new-users__title {
		font-size: 1.5em;
		font-weight: 600;
	}

	.new-users__list {
		list-style: none;
		margin: 0;
		padding: 0;

		.new-users__list-item {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin: 1.5rem 0;

			.new-users__user {
				display: flex;
				.new-users__avatar {
					margin: 0 0.75rem;
					.new-users__user-img {
						border-radius: 50%;
						height: 2.5rem;
						object-fit: cover;
						width: 2.5rem;
					}
				}

				.new-users__info {
					display: flex;
					flex-direction: column;
					margin: 0 0.75rem;

					.new-users__name {
						font-weight: 600;
					}

					.new-users__email {
						font-weight: 300;
					}
				}
			}

			.new-users__button {
				align-items: center;
				background-color: var(--info);
				border: none;
				border-radius: 0.75rem;
				color: var(--light);
				cursor: pointer;
				display: flex;
				justify-content: center;
				padding: 0.75rem;

				.new-users__display-icon {
					height: 1rem;
					margin-right: 0.25rem;
					width: 1rem;
				}
			}
		}
	}
}
