.sidebar {
	flex: 1;
	height: calc(100vh - 66px);
	left: 0;
	position: sticky;
	top: 50px;

	.sidebar__container {
		padding: 0px 20px;

		.sidebar__menu {
			margin-bottom: 10px;

			.sidebar__title {
				color: var(--secondary);
				font-size: 12px;
			}

			.sidebar__list {
				list-style: none;
				padding: 5px;

				.sidebar__list-item {
					border-radius: 10px;
					cursor: pointer;
					list-style: none;

					.sidebar__link {
						align-items: center;
						display: flex;
						padding: 10px;

						.sidebar__icon {
							height: 20px;
							margin-right: 10px;
							width: 20px;
						}
					}

					&.active,
					&:hover {
						color: var(--light);
						background-color: var(--secondary);
					}
				}
			}
		}
	}
}
