.featured-info {
	display: flex;
	justify-content: space-between;

	.featured-info__item {
		border-radius: 10px;
		box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
		cursor: pointer;
		flex: 1;
		margin: 0px 20px;
		padding: 30px;

		.featured-info__title {
			font-size: 20px;
		}

		.featured-info__money-container {
			align-items: center;
			display: flex;
			margin: 10px 0px;

			.featured-info__money {
				font-size: 30px;
				font-weight: 600;
			}

			.featured-info__money-rate {
				align-items: center;
				display: flex;
				margin-left: 20px;

				.featured-info__money-icon {
					color: var(--success);
					font-size: 14px;
					margin-left: 5px;

					&.negative {
						color: var(--danger);
					}
				}
			}

			.featured-info__subtitle {
				font-size: 16px;
			}
		}
	}
}
