.featured-info {
	display: flex;
	justify-content: space-between;

	.featured-info__item {
		border-radius: 0.75rem;
		box-shadow: 0 0 1rem -0.75rem rgba(0, 0, 0, 0.75);
		cursor: pointer;
		flex: 1;
		margin: 0 1.25rem;
		padding: 2rem;

		.featured-info__title {
			font-size: 1.25rem;
		}

		.featured-info__money-container {
			align-items: center;
			display: flex;
			margin: 0.75rem 0;

			.featured-info__money {
				font-size: 2rem;
				font-weight: 600;
			}

			.featured-info__money-rate {
				align-items: center;
				display: flex;
				margin-left: 1.25rem;

				.featured-info__money-icon {
					color: var(--success);
					font-size: 1em;
					margin-left: 0.25rem;

					&.negative {
						color: var(--danger);
					}
				}
			}

			.featured-info__subtitle {
				font-size: 1em;
			}
		}
	}
}
