.users {
	display: flex;
	flex: 5;
	flex-direction: column;

	.users__heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 1.25rem;

		.users__title {
			font-size: 2em;
			font-weight: 600;
		}

		.users__add-button {
			background-color: var(--secondary);
			border: none;
			border-radius: 0.75rem;
			color: white;
			cursor: pointer;
			padding: 0.75rem;
			width: 5rem;
		}
	}

	.users__table {
		border-radius: 0.75rem;
		box-shadow: 0 0 1rem -0.75rem rgba(0, 0, 0, 0.75);
		margin: 0 1.25rem;

		.users__name {
			align-items: center;
			display: flex;
			justify-content: center;

			.users__user-img {
				border-radius: 50%;
				height: 2rem;
				margin-right: 0.75rem;
				object-fit: cover;
				width: 2rem;
			}
		}

		.users__status {
			align-items: center;
			display: flex;
			justify-content: center;
			text-transform: capitalize;

			.users__status-indicator {
				border-radius: 50%;
				height: 0.75rem;
				margin-right: 0.75rem;
				width: 0.75rem;

				&.active {
					color: var(--success);
				}

				&.inactive {
					color: var(--danger);
				}
			}
		}

		.users__actions {
			align-items: center;
			display: flex;
			justify-content: center;

			.users__actions-edit {
				background: none;
				border: none;
				color: var(--warning);
				cursor: pointer;
				margin: 0 0.25rem;
				outline: none;

				.users__actions-edit-icon {
					height: 1.5rem;
					width: 1.5rem;
				}
			}

			.users__actions-delete {
				background: none;
				border: none;
				color: var(--danger);
				cursor: pointer;
				margin: 0 0.25rem;
				outline: none;

				.users__actions-delete-icon {
					height: 1.5rem;
					width: 1.5rem;
				}
			}
		}
	}
}
